USE [AutosDB]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 13/05/2020 4:09:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[MarcaId] [int] NOT NULL,
	[Nombre] [nvarchar](255) NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 13/05/2020 4:09:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[ModeloId] [int] NOT NULL,
	[Modelo] [nvarchar](50) NULL,
	[MarcaId] [int] NULL,
 CONSTRAINT [PK_Modelos] PRIMARY KEY CLUSTERED 
(
	[ModeloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Marcas] ([MarcaId], [Nombre]) VALUES (1, N'Abarth')
INSERT [dbo].[Marcas] ([MarcaId], [Nombre]) VALUES (2, N'Alfa Romeo')
INSERT [dbo].[Marcas] ([MarcaId], [Nombre]) VALUES (3, N'Aro')
GO
INSERT [dbo].[Modelos] ([ModeloId], [Modelo], [MarcaId]) VALUES (1, N'Grande Punto', 1)
INSERT [dbo].[Modelos] ([ModeloId], [Modelo], [MarcaId]) VALUES (2, N'Punto Evo', 1)
INSERT [dbo].[Modelos] ([ModeloId], [Modelo], [MarcaId]) VALUES (4, N'500c', 1)
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Marcas] FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marcas] ([MarcaId])
GO
ALTER TABLE [dbo].[Modelos] CHECK CONSTRAINT [FK_Modelos_Marcas]
GO
